<?xml version="1.0" encoding="UTF-8"?>
<suite name="reqres automation API">
    <test name="Negatif test, Positif Test, And Boundary Test">
        <classes>
            <class name="test.tespositif"/>
            <class name="test.tesnegatif"/>
            <class name="test.tesbatas"/>
        </classes>
    </test>
</suite>