<?xml version="1.0" encoding="UTF-8"?>
<suite name="reqres automation API">
    <test name="Negatif test, Positif Test, And Boundary Test">
        <classes>
            <class name="test.tesPositif"/>
            <class name="test.tesNegatif"/>
            <class name="test.tesBatas"/>
        </classes>
    </test>
</suite>